<h1> Hell from favorites</h1>

<% animals.forEach(animal => { %>

    <% if (animal.exctinct === true) { %>
    <h3 style="color: red"><%= animal.species_name %> </h3>
        
    <% } else { %>
     <h3><%= animal.species_name %></h3> 
    <% } %>
    <h3><em><%= animal.scientific_name %></em></h3>
    <img max-height="300px" max-width="300px" src="<%= animal.image_url %>" />
    <h3><%= animal.description %></h3>



<% }) %>